.p-contact {
    background: linear-gradient(#161C2C, #291F2F);
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.cont {
    margin: 0 auto;
    width: 25%;
    position: relative;
    top: 25%;
    display: flex;
    flex-direction: column;
}

.msg {
    text-align: center;
    width: auto;
    margin-bottom: 1em;
}

.mail {
    font-family: "Catamaran SemiBold";
    border: 2px solid white;
    width: 30%;
    text-align: center;
    margin: 2em auto;
    padding: .4em;
}

.mail:hover {
    background: white;
    color: rebeccapurple;
    cursor: pointer;
    text-align: center;
}

.contact-tittle {
    margin-bottom: .5em;
}

.p-contact {
    background-color: peru;
}

.accounts {

    display: flex;
    justify-content: center;
    align-items: center;
}

.accounts a {
    padding: .5em;
    opacity: .2;
}

.cont-full-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://static.pexels.com/photos/551653/pexels-photo-551653.jpeg");
    background-position: center;
    background-size: cover;
    opacity: .02;

    background-blend-mode: darken;
}

.accounts a:hover {
    opacity: 1;
    cursor: pointer;
}