/*TODO LO QUE SE PONGA FUERA DEL MEDIA QUERY SE EJECUTARÁ PRIMERO EN MÓVIL  */
* {
    font-family: Cairo, Arial;
}

.home-img {
    position: absolute;
    width: 100%;
    height: 100%;
    /*opacity: .3;*/
    background-image: url("../images/pages/home/portada.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*cambiar a center para solucionar el responsive TODO solucionar la animacion del background en center*/
    /*background-position: -0px -900px;*/
    background-position: center;
    top: 0px;
    opacity: .2;
    background-blend-mode: multiply;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.up {
    /*background-blend-mode: multiply;*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);
}

.down {
    /*opacity: .2;*/
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
    clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
}

.ph-content {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

/*.ph2 .high {*/
/*font-family: 'Cairo', cursive;*/
/*font-size: 1.8rem;*/
/*color: #F91010;*/
/*}*/

.home-cont-autotext {
    position: absolute;
    display: flex;
    width: 100%;
    top: 70.3%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.home-autotext {
    font-weight: 500;
    text-overflow: clip;
    overflow: hidden;
    font-size: .8rem;
    width: 100%;
    height: 50%;
    opacity: .5;
}

.home-menu {
    /*background-color: white;*/
    position: absolute;
    /*margin: 0 auto;*/
    bottom: 15%;
    text-align: center;
    /*background-color: white;*/
    /*left: 0;*/
    /*right: 0;*/
    /*esta es otra manera de centrar!, considerar*/
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

}

.home-menu p {
    position: relative;
    display: inline-block;
    /*z-index: 2;*/
    /*font-family: 'Cairo Light', cursive;*/
    margin: 10px;
    display: inline;
}

.home-menu p:hover {
    color: #F91010;
    cursor: pointer;
    opacity: 1;

}

.home-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F91010;
    top: 70%;
    opacity: .5;
}

.cloned {
    position: absolute;
    height: 50px;
    /*background-color: white;*/
}

/*QUERY PPARA PC Y PANTALLAS GRANDES*/
@media (min-width: 600px) {
    /*TEST PARA PROBAR EL RESPONSIVE */
    .ph-content {
        /*background-color: aqua;*/
    }

    .home-phrase {
        font-weight: 700;
        font-size: 8em;
    }
}

.home-phrase {
    font-size: 2em;
    font-weight: 700;
    line-height: 0;
}

.ph2 {
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.2em;
    color: #F91010;

    /*line-height: 0;*/

}