html, body {
    height: 100%;
    width: 100%;
    /*padding: 0;*/
    margin: 0;
    /*background: black;*/
    padding: 0;
    transition: all 0.4s ease;
    position: relative;
    background: linear-gradient(#161C2C, #291F2F);

}

* {
+ margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
    background: transparent;
    border: none;
}

.mainbg {
    /*padding: 1%;*/
    position: absolute;
    /*botton: 0;*/
    width: 100%;
    height: 100%;
    background: linear-gradient(#161C2C, #291F2F);

}

.noise {
    position: absolute;
    background-image: url("../images/noisetxtr_.png");
    background-repeat: repeat;
    /*background-size: cover;*/
    /*background-color: #F91010;*/
    width: 100%;
    height: 100%;
    opacity: .3;
    /*padding: -5%;*/
    margin: -1%;
    pointer-events: none;

}

#logosymbol {
    /*/ / padding-right: 60 em;*/
}

.main-view {
    position: relative;
    width: 100%;
    height: 100%;

    max-width: 1920px;
    /*//perspective: 1200px;*/
    /*//transform-style: preserve-3d;*/
    /*overflow-x: hidden;*/
}

#nav-buttons {
    color: white;
    margin-left: auto;
    margin-right: 20rem;
    opacity: 1;
    opacity: 0;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 0;
    margin: 0;
    /*visibility: hidden;*/
    /*overflow: hidden;*/
    /*backface-visibility: hidden;*/
    /*transform: translate3d(0, 0, 0);*/
}

.page.is-current {
    display: inline;
    visibility: visible;
    /*overflow: hidden;*/

    backface-visibility: hidden;
}

.page.is-onTop {
    z-index: 1;
}

.Pt-btn {
    position: relative;
    z-index: 2;
    width: 200px;
    padding: 10px;
    top: 200px;
    left: 50%;
    margin-left: -100px;
    margin-bottom: 20px;
    display: block;
}

.nav-logo {
    position: relative;
    /*no se porque tiene un padding raro en el botton*/
    /*height: 64px;*/
    /*padding: /0;*/
}

.p-home {
    position: absolute;
}

.p-about {
    position: absolute;

}

/*.bar {*/
/*!*background-color: white;*!*/
/*position: fixed;*/
/*z-index: 5;*/
/*opacity: 1;*/
/*background-color: #F91010;*/
/*display: flex;*/
/*width: 100%;*/
/*!*height: 0 auto;*!*/
/*align-items: center;*/
/*font-size: 1.2rem;*/
/*margin-top: 3rem;*/
/*padding-left: 3rem;*/
/*!*padding: ;*!*/
/*}*/

ul {
    list-style: none;
    display: flex;
}

#nav-button li a {
    text-decoration: none;
    color: white;
    opacity: .1;
    margin: 1em;
    font-size: .8em;

    font-family: "Catamaran SemiBold";
    cursor: pointer;
}

.li a.active {
    color: white;
    opacity: 1;
    border-bottom: .3em solid white;
}

::selection {
    background: #F91010; /* WebKit/Blink Browsers */
}

@media only screen and (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .bar {
        /*background-color: rgba(2, 2, 2, 0.9);*/
        position: fixed;
        z-index: 5;
        width: 100%;

        margin-top: 20px;
        box-sizing: border-box;
        display: flex;
        /*text-align: center;*/
        justify-content: space-between;
    }

    .logo {
        width: 40px;
        height: auto;
        margin-left: 30px;
    }

    .menubt {
        width: 20px;
        height: auto;
        margin: 30px;
        opacity: .5;
        /*background-color: #F91010;*/
    }

    .mn-content-autotext {
        position: absolute;
        width: 100%;
        height: 100px;
        top: 20%;
        /*background-color: #F91010;*/
        overflow: hidden;
        opacity: .8;
    }

    .mn-autotext {
        /*margin-top: -5px;*/
        white-space: nowrap;
        line-height: 1;
        font-family: 'Cairo Light', cursive;
        /*text-overflow: clip;*/
        /*overflow: hidden;*/
        /*width: auto;*/
        font-size: 2rem;
        width: 100%;
        height: 100%;
        opacity: .5;
    }

    .menubt:hover {
        width: 20px;
        height: auto;
        margin: 30px;
        opacity: 1;
        color: #F91010;
        /*background-color: #F91010;*/
    }

    .pagemenu {
        display: none;
        z-index: 2;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(2, 2, 2);
    }

    .menuactive {
        display: inline;

    }

    .menucontent {
        margin-left: 10%;
        position: absolute;
        bottom: 10%;
        width: 100%;

    }

    .menucontent p {
        font-size: 1.8rem;
        font-family: "Cairo SemiBold";

    }

    .menucontent p:hover {
        color: #F91010;
        cursor: pointer;

    }

}

@media only screen and (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media only screen and (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media only screen and (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media only screen and (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media only screen and (min-width: 1281px) {
    /* hi-res laptops and desktops */
}
