html, body {
    height: 100%;
    width: 100%;
    /*padding: 0;*/
    margin: 0;
    /*background: black;*/
    padding: 0;
    transition: all 0.4s ease;
    position: relative;
    background: linear-gradient(#161C2C, #291F2F);

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
    background: transparent;
    border: none;
}

.mainbg {
    /*padding: 1%;*/
    position: absolute;
    /*botton: 0;*/
    width: 100%;
    height: 100%;
    background: linear-gradient(#161C2C, #291F2F);

}

.noise {
    position: absolute;
    background-image: url("../images/noisetxtr_.png");
    background-repeat: repeat;
    /*background-size: cover;*/
    /*background-color: #F91010;*/
    width: 100%;
    height: 100%;
    opacity: .3;
    /*padding: -5%;*/
    margin: -1%;
    pointer-events: none;

}

#logosymbol {
    /*/ / padding-right: 60 em;*/
}

.main-view {
    position: relative;
    width: 100%;
    height: 100%;
    /*max-width: 1920px;*/
    /*perspective: 1200px;*/
    transform-style: preserve-3d;
    overflow: hidden;
    background-color: #291F2F;
}

#nav-buttons {
    color: white;
    margin-left: auto;
    margin-right: 20rem;
    opacity: 1;
    opacity: 0;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 0;
    margin: 0;
    /*visibility: hidden;*/
    /*overflow: hidden;*/
    /*backface-visibility: hidden;*/
    /*transform: translate3d(0, 0, 0);*/
}

.page.is-current {
    display: inline;
    visibility: visible;
    /*overflow: hidden;*/

    backface-visibility: hidden;
}

.page.is-onTop {
    z-index: 1;
}

.Pt-btn {
    position: relative;
    z-index: 2;
    width: 200px;
    padding: 10px;
    top: 200px;
    left: 50%;
    margin-left: -100px;
    margin-bottom: 20px;
    display: block;
}

.nav-logo {
    position: relative;
    /*no se porque tiene un padding raro en el botton*/
    /*height: 64px;*/
    /*padding: /0;*/
}

.p-home {
    position: absolute;
}

.p-about {
    position: absolute;

}

ul {
    list-style: none;
    display: flex;
}

#nav-button li a {
    text-decoration: none;
    color: white;
    opacity: .1;
    margin: 1em;
    font-size: .8em;

    font-family: "Catamaran SemiBold";
    cursor: pointer;
}

.li a.active {
    color: white;
    opacity: 1;
    border-bottom: .3em solid white;
}

::selection {
    background: #F91010; /* WebKit/Blink Browsers */
}

.bar {
    position: fixed;
    z-index: 5;
    width: 100%;

    box-sizing: border-box;
    /*display: flex;*/
    /*text-align: center;*/
    /*justify-content: space-between;*/
    /*height: 4em;*/
    padding: 1em;

}

.nav-cnt {
    display: flex;
    /*background-color: rgba(41, 31, 47, 0.1);*/
    height: 5em;
    padding: .8em;
    border-radius: .2em;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 2.5em;
    /*margin-left: 2em;*/
}

.menubt {
    width: 1.3em;
    margin-right: 1.5em;
    opacity: .8;
    /*background-color: #F91010;*/
}

.menubt:hover {
    opacity: 1;
    color: #F91010;
}

.mn-content-autotext {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 20%;
    /*background-color: #F91010;*/
    overflow: hidden;
    opacity: .8;
}

.mn-autotext {
    /*margin-top: -5px;*/
    white-space: nowrap;
    line-height: 1;
    font-family: 'Cairo Light', cursive;
    /*text-overflow: clip;*/
    /*overflow: hidden;*/
    /*width: auto;*/
    font-size: 2rem;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.pagemenu {
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(2, 2, 2, 1);
}

.menuactive {
    display: inline;

}

.menucontent {
    margin-left: 10%;
    position: absolute;
    bottom: 10%;
    width: 100%;

}

.menucontent p {
    font-size: 1.8rem;
    font-family: "Cairo SemiBold";

}

.menucontent p:hover {
    color: #F91010;
    cursor: pointer;

}

.nav-current {
    display: flex;
    width: 100%;
    height: 2.5em;
    margin-left: 1em;
    border-radius: 1em;
    padding-left: 1.5em;
    /*background: rgba(41, 31, 47, 0.26);*/
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000', GradientType=1); /* IE6-9 */
    align-items: center;

    justify-content: space-between;
}

.ttl-current {
    font-weight: 700;
}

@media only screen and (min-width: 600px) {
    .bar {
        position: fixed;
        z-index: 5;
        width: 100%;
        box-sizing: border-box;
        /*display: flex;*/
        /*text-align: center;*/
        /*justify-content: space-between;*/
        /*height: 4em;*/
        padding: 1em;

    }

    .nav-cnt {
        margin-top: 1em;
        display: flex;
        /*background-color: rgba(41, 31, 47, 0.1);*/
        height: 6em;
        padding: .8em;
        /*border-radius: .2em;*/
        justify-content: space-between;
        align-items: center;
    }

    .nav-current {
        display: flex;
        width: 100%;
        height: 2.5em;
        margin-left: 1em;
        border-radius: 1em;
        padding-left: 1.5em;
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 95%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 95%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000', GradientType=1); /* IE6-9 */
        align-items: center;
        font-weight: 700;
    }

    .logo {
        width: available;
        margin-left: 2em;
    }

    .menubt {
        width: 1.3em;
        margin-right: 1.5em;
        opacity: .8;
        /*background-color: #F91010;*/
    }

    .menubt:hover {
        opacity: 1;
        color: #F91010;
    }
}

