.about-img {
    position: absolute;
    background-size: cover; /* <------ */
    background-position: center center;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    opacity: .2;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.bghome {
    /*background: linear-gradient(#161C2C, #291F2F);*/

}

.about-up {
    position: relative;
    width: 100%;
    height: 50%;
    /*background-color: #F91010;*/
}

.about-image-up {
    position: absolute;
    /*float: right;*/
    right: 0%;
    width: 45%;
    margin-right: 10em;
    height: 100%;

    background-color: #161C2C;
    background-image: url("https://static.pexels.com/photos/140945/pexels-photo-140945.jpeg");
    background-position: center;
    background-size: cover;
    opacity: .2;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

}

.about-image-down {
    position: absolute;
    width: 45%;
    height: 100%;
    margin-left: 10em;
    background-image: url("https://static.pexels.com/photos/160107/pexels-photo-160107.jpeg");
    background-position: center;
    background-size: cover;
    opacity: .2;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}



.about-down {
    position: relative;
    /*background-color: white;*/
    width: 100%;
    height: 49%;
}

.about-container-1 {
    top: 40%;
    /*background-color: blue;*/
    margin: 0 auto;
    /*margin-left: 40rem;*/
    position: absolute;
    /*transform: translateY(-50%);*/
    text-align: left;
    width: 50%;
}

.about-container-2 {
    /*background-color: blue;*/
    margin: 0 auto;
    /*float: right;*/
    /*margin-left: 40rem;*/
    position: absolute;
    top: 35%;
    right: 0;
    transform: translateY(-50%);
    text-align: left;
    width: 50%;
}

.about-tittle-2 {
    font-size: 3em;
    line-height: 1;
    width: 100%;
    /*text-align: right;*/
    margin-bottom: 1rem;
}

.about-rect-2 {
    position: absolute;
    width: 70%;
    height: 70%;

}

.about-line-2 {

    width: 100%;
    height: 2px;
    background-color: #F91010;
    opacity: .8;
}

.about-content-2 {
    /*text-align: le;*/
    width: 400px;
    margin-top: 1em;
    font-size: 1em;
    /*float: right;*/
}

.about-tittle {
    font-size: 3em;
    line-height: 1;
    width: 100%;
    text-align: right;
    margin-bottom: 1rem;
}

.about-rect {
    position: absolute;
    width: 70%;
    height: 70%;

}

.about-line {

    width: 100%;
    height: 2px;
    background-color: #F91010;
    opacity: .8;
}

.about-content {
    text-align: right;
    width: 400px;
    margin-top: 1em;
    font-size: 1em;
    float: right;
}

.homemenu button {
    font-family: "Catamaran SemiBold";
}



